body{

			width: 30%;
			height: 100%;
			padding-left: 30%;
			background-color: ivory;
			
		}

		.main1{

			padding: 20px;
			text-align: center;
			box-shadow: 0 0 3px gray;
			border-bottom: 1px solid gray;
			
		}

		.main2{

			margin: 20px;
			background-color: white;

		} 

		div{

			background-color: white;
			border-bottom: 1px solid black;
			
		}

		div:last-child{

			border-bottom: none;
		}

		h1{

			text-align: center;
		}

		img{

			margin: auto;
			width: 200px;
			height: auto;
		}

		p, li{

			text-align: left;
			padding-left: 20px;
		}
